Repository vladzaharia/dns: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, workflows

lefthook.yml:

# Lefthook configuration for DNS Infrastructure-as-Code
# https://github.com/evilmartians/lefthook
#
# Install hooks: pnpm exec lefthook install
# Run manually: pnpm exec lefthook run pre-commit
#
# Create lefthook-local.yml to override settings locally (gitignored)

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx,mjs}"
      run: pnpm run lint
      stage_fixed: true
    format:
      glob: "*.{ts,tsx,js,jsx,json,md,yml,yaml}"
      run: pnpm run format:check
    typecheck:
      run: pnpm run typecheck
    workflows:
      glob: ".github/workflows/*.yml"
      run: pnpm run act:dry

pre-push:
  parallel: true
  commands:
    lint:
      run: pnpm run lint
    format:
      run: pnpm run format:check
    typecheck:
      run: pnpm run typecheck
    test:
      run: pnpm run test
    workflows:
      glob: ".github/workflows/*.yml"
      run: pnpm run act:preview

# Note: To skip hooks in CI, set CI=true environment variable
# Each command can use: skip: run: test "${CI}" = "true"

Lefthook update
  lefthook.yml
Due: format

Broken links and format
  .gitignore
  .prettierignore
  docs/iac/.vitepress/config.ts
  docs/types/.vitepress/config.ts
  docs/types/api/index.md
Due: lint, format

Prettierignore
  docs/iac/.prettierignore
  docs/types/.prettierignore
Due: none

Fix issue
  packages/polaris-dns/src/globals.d.ts
  packages/polaris-dns/src/lib/record.ts
  packages/polaris-dns/tests/mocks/dnscontrol.ts
  packages/polaris-dns/tests/snapshot/__snapshots__/services.snapshot.test.ts.snap
  packages/polaris-dns/tests/snapshot/__snapshots__/zones.snapshot.test.ts.snap
Due: lint, format

Fix redirect metadata
  packages/polaris-dns/src/zones/personal/vlad-lgbt.ts
Due: lint, format

Updated PR comment
  .github/workflows/_reusable-validate.yml
  .github/workflows/prepare.yml
  .github/workflows/preview.yml
Due: format, workflows

More PR comment updates
  .github/workflows/_reusable-validate.yml
  .github/workflows/prepare.yml
  .github/workflows/preview.yml
Due: format, workflows

Fix comment structure
  .github/workflows/preview.yml
Due: format, workflows

More PR comment fixes
  .github/workflows/_reusable-validate.yml
  .github/workflows/preview.yml
Due: format, workflows

Simplify redirect rules and workflow fixes
  .github/workflows/preview.yml
  packages/polaris-dns/src/lib/domain.ts
  packages/polaris-dns/src/zones/personal/vlad-lgbt.ts
Due: lint, format, workflows

Fix PR comment more
  .github/workflows/_reusable-validate.yml
  .github/workflows/preview.yml
Due: format, workflows

Clean up preview
  .github/workflows/preview.yml
  lefthook.yml
Due: format, workflows

Remove long args
  .github/workflows/preview.yml
Due: format, workflows

fix test and preview output
  .github/workflows/_reusable-validate.yml
  .github/workflows/preview.yml
Due: format, workflows

Remove blank line from table
  .github/workflows/preview.yml
Due: format, workflows

Better syntax detection
  .github/workflows/preview.yml
Due: format, workflows

Parsed out record types
  .github/workflows/preview.yml
Due: format, workflows

Compact, better spf/dkim/dmarc
  .github/workflows/preview.yml
Due: format, workflows

Cleanup changes display and comment
  .github/workflows/preview.yml
Due: format, workflows

Re-sort changes table
  .github/workflows/preview.yml
Due: format, workflows

Grouped DNS results
  .github/workflows/preview.yml
  packages/polaris-dns/src/zones/personal/spunk-dog.ts
Due: lint, format, workflows

Fix comment script
  .github/workflows/preview.yml
Due: format, workflows

Separate out workflows
  .actrc
  .github/act/pull_request.json
  .github/workflows/_reusable-comment.yml
  .github/workflows/_reusable-prepare.yml
  .github/workflows/_reusable-preview.yml
  .github/workflows/_reusable-push.yml
  .github/workflows/preview.yml
  .github/workflows/push.yml
Due: format, workflows

Try an h3?
  .github/workflows/_reusable-comment.yml
Due: format, workflows

Remove extra strong
  .github/workflows/_reusable-comment.yml
Due: format, workflows

Add extra newline
  .github/workflows/_reusable-comment.yml
Due: format, workflows

Dependabot and split reusable runs
  .github/dependabot.yml
  .github/workflows/_reusable-build.yml
  .github/workflows/_reusable-comment.yml
  .github/workflows/_reusable-format.yml
  .github/workflows/_reusable-lint.yml
  .github/workflows/_reusable-preview.yml
  .github/workflows/_reusable-push.yml
  .github/workflows/_reusable-test.yml
  .github/workflows/_reusable-typecheck.yml
  .github/workflows/_reusable-validate.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/preview.yml
  .github/workflows/push.yml
  renovate.json
Due: format, workflows

Fix test parsin
  .github/workflows/_reusable-test.yml
Due: format, workflows

Update test/lint uploads
  .github/workflows/_reusable-comment.yml
  .github/workflows/_reusable-lint.yml
  .github/workflows/_reusable-test.yml
  .github/workflows/preview.yml
  .github/workflows/push.yml
Due: format, workflows

Fix more issues with pr comments
  .github/workflows/_reusable-comment.yml
  .github/workflows/_reusable-test.yml
Due: format, workflows

Small fixes
  .github/workflows/_reusable-comment.yml
  .github/workflows/_reusable-test.yml
Due: format, workflows

Test reporting and PR commenting
  .github/workflows/_reusable-comment.yml
  .github/workflows/_reusable-preview.yml
  .github/workflows/_reusable-test.yml
Due: format, workflows

More test and comment updates
  .github/workflows/_reusable-comment.yml
  .github/workflows/_reusable-test.yml
Due: format, workflows

Hopefully fix test/comment
  .github/workflows/_reusable-comment.yml
  .github/workflows/_reusable-test.yml
Due: format, workflows

More fixes
  .github/dependabot.yml
  .github/workflows/_reusable-build.yml
  .github/workflows/_reusable-test.yml
Due: format, workflows

Remove extraneous Run URLs
  .github/workflows/_reusable-comment.yml
Due: format, workflows

Update danger.direct IPs
  packages/polaris-dns/src/zones/local/danger-direct.ts
  packages/polaris-dns/src/zones/local/danger-diy.ts
Due: lint, format

Remove weird ⚠️
  .github/workflows/_reusable-comment.yml
Due: format, workflows
